<template id="links">
	<section>
		<div class="links">
			<div class="links__group">
				<h4>开始使用</h4>
				<ul>
					<li>
						<a href="command:gitlens.getStarted" appearance="secondary">引导</a>
					</li>
					<li>
						<a href="command:gitlens.plus.learn" appearance="secondary">GitLens+ 功能引导</a>
					</li>
					<li>
						<a href="command:gitlens.showWelcomePage?%22quick-setup%22" appearance="secondary"
							>快速&nbsp;设置</a
						>
					</li>
					<li>
						<a href="command:gitlens.showSettingsPage" appearance="secondary"
							>交互式&nbsp;设置&nbsp;编辑器</a
						>
					</li>
					<li>
						<a href="command:gitlens.home.toggleWelcome">恢复&nbsp;欢迎页</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>帮助</h4>
				<ul>
					<li>
						<i class="codicon codicon-book"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens#readme">文档</a>
					</li>
					<li>
						<i class="codicon codicon-comment-discussion"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens/discussions">问题讨论</a>
					</li>
					<li>
						<i class="codicon codicon-issues"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens/issues">议题</a>
					</li>
					<li>
						<i class="codicon codicon-comment"></i>
						<a href="https://gitkraken.slack.com">Slack</a>
					</li>
					<li>
						<i class="codicon codicon-twitter"></i>
						<a href="https://twitter.com/gitlens">Twitter</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>资源</h4>
				<ul>
					<li><a href="https://gitlens.amod.io">网站</a></li>
					<li><a href="https://gitlens.amod.io/#whats-new">新功能</a></li>
					<li>
						<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens">扩展市场</a>
					</li>
					<li><a href="https://github.com/gitkraken/vscode-gitlens">GitHub</a></li>
					<li><a href="https://github.com/gitkraken/vscode-gitlens/blob/main/LICENSE">许可证</a></li>
				</ul>
			</div>
		</div>
	</section>
</template>
