<template id="state:free-preview-expired">
	<section>
		<h3>继续使用 GitLens+ 功能</h3>
		<p>
			你对
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn">GitLens+ 功能</a>
			的试用已结束。别担心，其他 GitLens 功能始终可用。
		</p>
		<p>
			登录后可在公共仓库中使用 GitLens+ 功能，并额外获得公共和私有仓库 7 天免费试用。
		</p>
		<vscode-button data-action="command:gitlens.plus.loginOrSignUp">登录 GitLens+</vscode-button>
		<p>
			或者<a title="升级你的账户" href="command:gitlens.plus.purchase">升级你的账户</a>，以便在公共和私有仓库中使用 GitLens+ 功能。
		</p>
		<p>
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn"
				>了解 GitLens+ 功能</a
			>
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;其他 GitLens 功能始终可在无账户的情况下使用，并会持续演进与投入。
		</p>
	</section>
</template>
