<template id="state:free-preview">
	<section>
		<h3>正在试用 GitLens+ 功能</h3>
		<p>
			你还有 <span data-bind="previewDays">3 天</span>
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn">GitLens+ 功能</a>
			试用时间。试用结束后，你需要登录免费账户才能继续在公共仓库中使用 GitLens+ 功能。其他 GitLens 功能不受影响，始终可用。
		</p>
		<vscode-button data-action="command:gitlens.plus.loginOrSignUp">登录 GitLens+</vscode-button>
		<p>
			或者
			<a title="升级账户" href="command:gitlens.plus.purchase">升级你的账户</a>
			，即可在公共和私有仓库中使用 GitLens+ 功能。
		</p>
		<h3>GitLens+</h3>
		<p>
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn">GitLens+</a>
			提供一组全新且完全可选的功能。使用免费账户登录后，你可以进一步扩展当前的 GitLens 使用体验。
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;其他 GitLens 功能始终可在无账户的情况下使用，并会持续演进与投入。
		</p>
		<p style="margin-bottom: 1rem">首批 GitLens+ 新功能包括可视化文件历史和工作树。</p>
		<h4>可视化文件历史</h4>
		<img
			class="image--preview"
			src="#{root}/images/docs/visual-file-history-hover.png"
			alt="可视化文件历史截图"
		/>
		<p class="feature-desc">
			<a
				title="了解可视化文件历史"
				href="command:gitlens.openWalkthrough?%22gitlens.plus%7Cgitlens.plus.visualFileHistory%22"
				>可视化文件历史</a
			>
			可让你快速查看文件的演变过程，包括何时发生更改、更改规模以及由谁完成。
		</p>
		<h4>工作树</h4>
		<img class="image--preview" src="#{root}/images/docs/worktrees-view.png" alt="工作树截图" />
		<p class="feature-desc">
			<a
				title="了解工作树"
				href="command:gitlens.openWalkthrough?%22gitlens.plus%7Cgitlens.plus.worktrees%22"
				>工作树</a
			>
			让你能够轻松同时处理同一仓库的不同分支。
		</p>
	</section>
</template>
