<template id="state:plus-trial">
	<section>
		<h3>GitLens+ Pro 试用</h3>
		<p>
			你还有 <span data-bind="trialDays">7 天</span>
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn">GitLens+ 功能</a>
			，可在公共和私有仓库中使用。试用结束后，你仍可继续在公共仓库中使用 GitLens+ 功能。
		</p>
		<p>升级账户后，即可在公共和私有仓库中继续使用 GitLens+ 功能。</p>
		<vscode-button data-action="command:gitlens.plus.purchase">升级账户</vscode-button>
		<p>
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn"
				>了解 GitLens+ 功能</a
			>
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;其他 GitLens 功能始终可在无账户的情况下使用，并会持续演进与投入。
		</p>
	</section>
</template>
