<template id="welcome">
	<section class="welcome">
		<h3>欢迎使用 GitLens 12</h3>
		<a class="link--preview" title="查看新功能" href="command:gitlens.showWelcomePage">
			<img class="image--preview" src="#{webroot}/media/gitlens-12-card.webp" alt="新功能" />
		</a>
		<p>
			GitLens 可在 VS Code 中显著增强 Git 体验，帮助你挖掘每个仓库中的历史信息。它能通过 Git 归属注释和
			CodeLens 让你快速看清代码作者信息，顺畅浏览和探索 Git 仓库，并借助丰富的可视化与强大的比较命令获得更多洞察。
		</p>
		<vscode-button data-action="command:gitlens.showWelcomePage">快速设置</vscode-button>
		<vscode-button data-action="command:gitlens.getStarted">入门引导</vscode-button>
		<p>使用快速设置即可按你的需要配置 GitLens；也可以直接进入入门引导，快速熟悉 GitLens 提供的丰富功能。</p>
		<vscode-button data-action="command:gitlens.home.toggleWelcome" appearance="secondary"
			>关闭欢迎提示</vscode-button
		>
	</section>
</template>
