<template id="state:plus-trial-expired">
	<section>
		<p>升级你的账户后，即可在私有仓库中使用可视化文件历史和其他 GitLens+ 功能。</p>
		<vscode-button data-action="command:gitlens.plus.purchase">升级你的账户</vscode-button>
		<p>
			✨ 可视化文件历史是
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn">GitLens+ 功能</a>，
			可通过免费账户在公共仓库中使用，并通过
			<a title="升级你的账户" href="command:gitlens.plus.purchase">付费账户</a>
			在私有仓库中使用。
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;其他 GitLens 功能始终可在任何仓库中使用，无需账户。
		</p>
	</section>
</template>
