<template id="state:free">
	<section>
		<p>
			无需账户即可立即试用 3 天，并可在公共和私有仓库中体验；或者
			<a title="登录 GitLens+" href="command:gitlens.plus.loginOrSignUp">登录</a>
			后在公共仓库中使用。
		</p>
		<vscode-button data-action="command:gitlens.plus.startPreviewTrial">立即试用可视化文件历史</vscode-button>
		<p>
			✨ 可视化文件历史是
			<a title="了解 GitLens+ 功能" href="command:gitlens.plus.learn">GitLens+ 功能</a>。
			登录
			<a title="登录" href="command:gitlens.plus.loginOrSignUp">免费账户</a>
			即可在公共仓库中使用，升级到
			<a title="查看方案" href="command:gitlens.plus.purchase">付费账户</a>
			后则可在私有仓库中使用。
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;其他 GitLens 功能始终可在任何仓库中使用，无需账户。
		</p>
	</section>
</template>
