<section id="code-lens" class="section--settings section--collapsible">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input id="codeLens.enabled" name="codeLens.enabled" type="checkbox" data-setting />
			<label for="codeLens.enabled">Git CodeLens</label>
			<a
				class="link__learn-more"
				title="了解更多"
				href="https://github.com/gitkraken/vscode-gitlens/#git-codelens-"
			>
				<i class="icon icon__info"></i>
			</a>
		</div>

		<p class="section__header-hint">在文件顶部和代码块上显示作者信息 CodeLens</p>
		<div class="section__header-info">
			<i class="icon icon__bulb"></i>
			<div>
				<p>
					使用
					<a class="command" title="运行命令" href="command:gitlens.toggleCodeLens"
						>GitLens: 切换 Git CodeLens</a
					>
					命令可在当前窗口中临时覆盖此设置
				</p>
			</div>
		</div>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting" data-enablement="codeLens.enabled">
						<div class="setting__input">
							<input
								id="codeLens.recentChange.enabled"
								name="codeLens.recentChange.enabled"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="codeLens.recentChange.enabled">
								为文件或代码块添加最近一次更改的作者和日期
							</label>
						</div>
					</div>

					<div class="settings settings--fixed ml-2">
						<div class="setting" data-enablement="codeLens.enabled &amp; codeLens.recentChange.enabled">
							<div class="setting__input">
								<input
									id="codeLens.recentChange.command"
									name="codeLens.recentChange.command"
									type="checkbox"
									value="gitlens.showQuickCommitFileDetails"
									data-setting
									disabled
								/>
								<label class="nowrap" for="codeLens.recentChange.command">点击时</label>
								<div class="select-container">
									<select
										id="codeLens.recentChange.command"
										name="codeLens.recentChange.command"
										data-setting
										data-enablement="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.recentChange.command !false"
										disabled
									>
										<option value="gitlens.toggleFileBlame">切换文件归属注释</option>
										<option value="gitlens.toggleFileHeatmap">切换文件热力图</option>
										<option value="gitlens.toggleFileChanges">
											切换显示提交之前的文件更改
										</option>
										<option value="gitlens.toggleFileChangesOnly">
											切换显示该提交中的文件更改
										</option>
										<option value="gitlens.diffWithPrevious">
											打开与上一个修订版本的更改对比
										</option>
										<option value="gitlens.revealCommitInView">
											在侧边栏中定位该提交
										</option>
										<option value="gitlens.showCommitsInView">搜索该提交</option>
										<option value="gitlens.showQuickCommitDetails">
											显示该提交的详情
										</option>
										<option value="gitlens.showQuickCommitFileDetails">
											显示该提交对应文件的详情
										</option>
										<option value="gitlens.showQuickFileHistory">
											显示当前文件历史
										</option>
										<option value="gitlens.showQuickRepoHistory">
											显示当前分支历史
										</option>
										<option value="gitlens.openCommitOnRemote">
											在远程服务上打开该提交（如果可用）
										</option>
										<option value="gitlens.copyRemoteCommitUrl">
											将远程提交 URL 复制到剪贴板（如果可用）
										</option>
										<option value="gitlens.openFileOnRemote">
											在远程服务上打开文件修订版本（如果可用）
										</option>
										<option value="gitlens.copyRemoteFileUrl">
											将远程文件修订版本 URL 复制到剪贴板（如果可用）
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="setting" data-enablement="codeLens.enabled">
						<div class="setting__input">
							<input
								id="codeLens.authors.enabled"
								name="codeLens.authors.enabled"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="codeLens.authors.enabled">
								显示文件或代码块的作者数量以及最主要的作者
							</label>
						</div>
					</div>

					<div class="settings settings--fixed ml-2">
						<div class="setting" data-enablement="codeLens.enabled &amp; codeLens.authors.enabled">
							<div class="setting__input">
								<input
									id="codeLens.authors.command"
									name="codeLens.authors.command"
									type="checkbox"
									value="gitlens.toggleFileBlame"
									data-setting
									disabled
								/>
								<label class="nowrap" for="codeLens.authors.command">点击时</label>
								<div class="select-container">
									<select
										id="codeLens.authors.command"
										name="codeLens.authors.command"
										data-setting
										data-enablement="codeLens.enabled &amp; codeLens.authors.enabled &amp; codeLens.authors.command !false"
										disabled
									>
										<option value="gitlens.toggleFileBlame">切换文件归属注释</option>
										<option value="gitlens.toggleFileHeatmap">切换文件热力图</option>
										<option value="gitlens.toggleFileChanges">
											切换显示提交之前的文件更改
										</option>
										<option value="gitlens.toggleFileChangesOnly">
											切换显示该提交中的文件更改
										</option>
										<option value="gitlens.diffWithPrevious">
											打开与上一个修订版本的更改对比
										</option>
										<option value="gitlens.revealCommitInView">
											在侧边栏中定位该提交
										</option>
										<option value="gitlens.showCommitsInView">
											搜索该范围内的提交
										</option>
										<option value="gitlens.showQuickCommitDetails">
											显示该提交的详情
										</option>
										<option value="gitlens.showQuickCommitFileDetails">
											显示该提交对应文件的详情
										</option>
										<option value="gitlens.showQuickFileHistory">
											显示当前文件历史
										</option>
										<option value="gitlens.showQuickRepoHistory">
											显示当前分支历史
										</option>
										<option value="gitlens.openCommitOnRemote">
											在远程服务上打开该提交（如果可用）
										</option>
										<option value="gitlens.copyRemoteCommitUrl">
											将远程提交 URL 复制到剪贴板（如果可用）
										</option>
										<option value="gitlens.copyRemoteFileUrl">
											将远程文件修订版本 URL 复制到剪贴板（如果可用）
										</option>
										<option value="gitlens.openFileOnRemote">
											在远程服务上打开文件修订版本（如果可用）
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="setting" data-enablement="codeLens.enabled">
						<div class="setting__input">
							<label class="non-interactive">在以下范围显示 CodeLens</label>
						</div>
					</div>

					<div class="settings ml-2">
						<div class="setting" data-enablement="codeLens.enabled">
							<div class="setting__input">
								<input
									id="codeLens.scopes"
									name="codeLens.scopes"
									type="checkbox"
									value="document"
									data-setting
									data-setting-type="array"
									disabled
								/>
								<label for="codeLens.scopes">文件范围</label>
							</div>
							<p class="setting__hint">显示在文件顶部</p>
						</div>

						<div class="setting" data-enablement="codeLens.enabled">
							<div class="setting__input">
								<input
									id="codeLens.scopes-1"
									name="codeLens.scopes"
									type="checkbox"
									value="containers"
									data-setting
									data-setting-type="array"
									disabled
								/>
								<label for="codeLens.scopes-1">容器范围</label>
							</div>
							<p class="setting__hint">显示在模块、类、接口等容器的起始位置</p>
						</div>

						<div class="setting" data-enablement="codeLens.enabled">
							<div class="setting__input">
								<input
									id="codeLens.scopes-2"
									name="codeLens.scopes"
									type="checkbox"
									value="blocks"
									data-setting
									data-setting-type="array"
									disabled
								/>
								<label for="codeLens.scopes-2">代码块范围</label>
							</div>
							<p class="setting__hint">显示在函数、方法等代码块的起始位置</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{webroot}/media/code-lens.webp" loading="lazy" />
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-file-recent+authors.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled &amp; codeLens.scopes +document"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-file-recent.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled =false &amp; codeLens.scopes +document"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-file-authors.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled =false &amp; codeLens.authors.enabled &amp; codeLens.scopes +document"
					loading="lazy"
				/>

				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-containers-recent+authors.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled &amp; codeLens.scopes +containers"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-containers-recent.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled =false &amp; codeLens.scopes +containers"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-containers-authors.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled =false &amp; codeLens.authors.enabled &amp; codeLens.scopes +containers"
					loading="lazy"
				/>

				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-blocks-recent+authors.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled &amp; codeLens.scopes +blocks"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-blocks-recent.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled =false &amp; codeLens.scopes +blocks"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-blocks-authors.webp"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled =false &amp; codeLens.authors.enabled &amp; codeLens.scopes +blocks"
					loading="lazy"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.codeLens%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.codeLens</i></b>
			</p>
		</div>
	</div>
</section>
