<section id="dates" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>日期与时间</h2>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="setting">
					<div class="setting__input">
						<input
							id="defaultDateStyle"
							name="defaultDateStyle"
							type="checkbox"
							value="relative"
							data-value-off="absolute"
							data-setting
						/>
						<label for="defaultDateStyle">允许使用相对日期格式</label>
					</div>
					<span class="setting__hint hidden" data-visibility="defaultDateStyle =relative"
						>以相对方式显示部分日期，例如 1 天前</span
					>
					<span class="setting__hint hidden" data-visibility="defaultDateStyle =absolute"
						>以绝对方式显示日期，例如
						<span
							data-setting-preview="defaultDateFormat"
							data-setting-preview-type="date"
							data-setting-preview-default="MMMM Do, YYYY h:mma"
						></span>
					</span>
				</div>

				<div class="settings">
					<div class="setting">
						<div class="setting__input">
							<label for="defaultDateLocale">日期区域设置</label>
							<input
								id="defaultDateLocale"
								name="defaultDateLocale"
								type="text"
								placeholder="默认使用 VS Code 区域设置"
								data-setting
								data-setting-preview
							/>
							<a
								class="link__learn-more"
								title="查看支持的 BCP 47 语言标签"
								href="https://en.wikipedia.org/wiki/IETF_language_tag#List_of_major_primary_language_subtags"
							>
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint">
							<span style="line-height: 2rem">
								<i class="icon icon--sm icon__info"></i> 可使用 <code>system</code>
								跟随系统区域设置，或输入区域语言标签，例如 en-US
							</span>
							<br />
							示例日期：
							<span
								data-setting-preview="defaultDateLocale"
								data-setting-preview-type="date-locale"
								data-setting-preview-default="defaultDateFormat"
							></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="defaultDateFormat">日期格式</label>
							<input
								id="defaultDateFormat"
								name="defaultDateFormat"
								type="text"
								placeholder="默认值为 MMMM Do, YYYY h:mma"
								data-setting
								data-setting-preview
							/>
							<a
								class="link__learn-more"
								title="查看 Moment.js 支持的日期格式"
								href="https://momentjs.com/docs/#/displaying/format/"
							>
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint"
							>示例日期：
							<span
								data-setting-preview="defaultDateFormat"
								data-setting-preview-type="date"
								data-setting-preview-default="MMMM Do, YYYY h:mma"
							></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="defaultDateShortFormat">短日期格式</label>
							<input
								id="defaultDateShortFormat"
								name="defaultDateShortFormat"
								type="text"
								placeholder="默认值为 MMM D, YYYY"
								data-setting
								data-setting-preview
							/>
							<a
								class="link__learn-more"
								title="查看 Moment.js 支持的日期格式"
								href="https://momentjs.com/docs/#/displaying/format/"
							>
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint"
							>短日期示例：
							<span
								data-setting-preview="defaultDateShortFormat"
								data-setting-preview-type="date"
								data-setting-preview-default="MMM D, YYYY"
							></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="defaultTimeFormat">时间格式</label>
							<input
								id="defaultTimeFormat"
								name="defaultTimeFormat"
								type="text"
								placeholder="默认值为 h:mma"
								data-setting
								data-setting-preview
							/>
							<a
								class="link__learn-more"
								title="查看 Moment.js 支持的日期格式"
								href="https://momentjs.com/docs/#/displaying/format/"
							>
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint"
							>示例时间：
							<span
								data-setting-preview="defaultTimeFormat"
								data-setting-preview-type="date"
								data-setting-preview-default="h:mma"
							></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.default%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.default</i></b>
			</p>
		</div>
	</div>
</section>
