<section id="hovers" class="section--settings section--collapsible">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input id="hovers.enabled" name="hovers.enabled" type="checkbox" data-setting />
			<label for="hovers.enabled">悬停提示</label>
			<a class="link__learn-more" title="了解更多" href="https://github.com/gitkraken/vscode-gitlens/#hovers-">
				<i class="icon icon__info"></i>
			</a>
		</div>

		<p class="section__header-hint">通过悬停提示显示详细的归属信息</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting" data-enablement="hovers.enabled">
						<div class="setting__input">
							<input id="hovers.avatars" name="hovers.avatars" type="checkbox" data-setting disabled />
							<label for="hovers.avatars">使用作者头像</label>
						</div>
					</div>

					<div class="setting" data-enablement="hovers.enabled">
						<div class="setting__input">
							<input
								id="hovers.pullRequests.enabled"
								name="hovers.pullRequests.enabled"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="hovers.pullRequests.enabled"
								>显示引入该提交的拉取请求（如果有）</label
							>
						</div>

						<p class="setting__hint hidden" data-visibility="hovers.pullRequests.enabled">
							<i class="icon icon__info"></i>需要连接到受支持的远程服务（例如 GitHub）
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section__group section__group--rev mt-05">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting hidden" data-visibility="currentLine.enabled" data-enablement="hovers.enabled">
						<div class="setting__input">
							<input
								id="hovers.currentLine.enabled"
								name="hovers.currentLine.enabled"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="hovers.currentLine.enabled">显示当前行的悬停提示</label>
						</div>
					</div>

					<div
						class="setting hidden"
						data-visibility="currentLine.enabled =false"
						data-enablement="hovers.enabled"
					>
						<div class="setting__input">
							<input
								id="hovers.currentLine.enabled-1"
								name="hovers.currentLine.enabled"
								type="checkbox"
								data-setting
								data-add-settings-on="hovers.currentLine.over=line"
								disabled
							/>
							<label for="hovers.currentLine.enabled-1">显示当前行的悬停提示</label>
						</div>
					</div>

					<div class="settings settings--fixed ml-2">
						<div
							class="setting hidden"
							data-visibility="currentLine.enabled"
							data-enablement="hovers.enabled &amp; hovers.currentLine.enabled"
						>
							<div class="setting__input">
								<label for="hovers.currentLine.over">在以下位置悬停时显示</label>
								<div class="select-container">
									<select
										id="hovers.currentLine.over"
										name="hovers.currentLine.over"
										data-setting
										disabled
									>
										<option value="annotation">仅注解</option>
										<option value="line">行与注解</option>
									</select>
								</div>
							</div>
						</div>

						<div
							class="setting hidden"
							data-visibility="currentLine.enabled =false"
							data-enablement="hovers.enabled &amp; hovers.currentLine.enabled &amp; currentLine.enabled"
						>
							<div class="setting__input">
								<label for="hovers.currentLine.over">在以下位置悬停时显示</label>
								<div class="select-container">
									<select
										id="hovers.currentLine.over"
										name="hovers.currentLine.over"
										data-setting
										disabled
									>
										<option value="annotation">仅注解</option>
										<option value="line">行</option>
									</select>
								</div>
							</div>
						</div>

						<div class="setting" data-enablement="hovers.enabled &amp; hovers.currentLine.enabled">
							<div class="setting__input">
								<input
									id="hovers.currentLine.details"
									name="hovers.currentLine.details"
									type="checkbox"
									data-setting
									disabled
								/>
								<label for="hovers.currentLine.details">显示归属详情</label>
							</div>
						</div>

						<div class="setting" data-enablement="hovers.enabled &amp; hovers.currentLine.enabled">
							<div class="setting__input">
								<input
									id="hovers.currentLine.changes"
									name="hovers.currentLine.changes"
									type="checkbox"
									data-setting
									disabled
								/>
								<label for="hovers.currentLine.changes">显示更改（diff）</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview" data-visibility="hovers.enabled">
				<img class="image__preview" src="#{webroot}/media/hovers-currentLine.webp" loading="lazy" />
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-currentLine-on.webp"
					data-visibility="currentLine.enabled &amp; currentLine.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-currentLine-on+pr.webp"
					data-visibility="currentLine.enabled &amp; currentLine.pullRequests.enabled"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details+pr+changes.webp"
					data-visibility="hovers.enabled &amp; hovers.currentLine.enabled &amp; hovers.currentLine.details &amp; hovers.currentLine.changes &amp; hovers.pullRequests.enabled"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details+changes.webp"
					data-visibility="hovers.enabled &amp; hovers.currentLine.enabled &amp; hovers.currentLine.details &amp; hovers.currentLine.changes &amp; hovers.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details+pr.webp"
					data-visibility="hovers.enabled &amp; hovers.currentLine.enabled &amp; hovers.currentLine.details &amp; hovers.currentLine.changes =false &amp; hovers.pullRequests.enabled"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details.webp"
					data-visibility="hovers.enabled &amp; hovers.currentLine.enabled &amp; hovers.currentLine.details &amp; hovers.currentLine.changes =false &amp; hovers.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-changes.webp"
					data-visibility="hovers.enabled &amp; hovers.currentLine.enabled &amp; hovers.currentLine.details =false &amp; hovers.currentLine.changes"
					loading="lazy"
				/>
			</div>
		</div>

		<div class="section__group section__group--rev">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting" data-enablement="hovers.enabled">
						<div class="setting__input">
							<input
								id="hovers.annotations.enabled"
								name="hovers.annotations.enabled"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="hovers.annotations.enabled">在显示注解时显示悬停提示</label>
						</div>
					</div>

					<div class="settings settings--fixed ml-2">
						<div class="setting" data-enablement="hovers.enabled &amp; hovers.annotations.enabled">
							<div class="setting__input">
								<div class="setting__input">
									<label for="hovers.annotations.over">在以下位置悬停时显示</label>
									<div class="select-container">
										<select
											id="hovers.annotations.over"
											name="hovers.annotations.over"
											data-setting
											disabled
										>
											<option value="annotation">仅注解</option>
											<option value="line">行与注解</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="setting" data-enablement="hovers.enabled &amp; hovers.annotations.enabled">
							<div class="setting__input">
								<input
									id="hovers.annotations.details"
									name="hovers.annotations.details"
									type="checkbox"
									data-setting
									disabled
								/>
								<label for="hovers.annotations.details">显示归属详情</label>
							</div>
						</div>

						<div class="setting" data-enablement="hovers.enabled &amp; hovers.annotations.enabled">
							<div class="setting__input">
								<input
									id="hovers.annotations.changes"
									name="hovers.annotations.changes"
									type="checkbox"
									data-setting
									disabled
								/>
								<label for="hovers.annotations.changes">显示更改（diff）</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview" data-visibility="hovers.enabled">
				<img
					class="image__preview hidden"
					src="#{webroot}/media/hovers-annotations.webp"
					data-visibility="blame.compact =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/hovers-annotations-compact.webp"
					data-visibility="blame.compact"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-annotations-currentLine-on.webp"
					data-visibility="currentLine.enabled"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details+pr+changes.webp"
					data-visibility="hovers.enabled &amp; hovers.annotations.enabled &amp; hovers.annotations.details &amp; hovers.annotations.changes &amp; hovers.pullRequests.enabled"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details+changes.webp"
					data-visibility="hovers.enabled &amp; hovers.annotations.enabled &amp; hovers.annotations.details &amp; hovers.annotations.changes &amp; hovers.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details+pr.webp"
					data-visibility="hovers.enabled &amp; hovers.annotations.enabled &amp; hovers.annotations.details &amp; hovers.annotations.changes =false &amp; hovers.pullRequests.enabled"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-details.webp"
					data-visibility="hovers.enabled &amp; hovers.annotations.enabled &amp; hovers.annotations.details &amp; hovers.annotations.changes =false &amp; hovers.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/hovers-changes.webp"
					data-visibility="hovers.enabled &amp; hovers.annotations.enabled &amp; hovers.annotations.details =false &amp; hovers.annotations.changes"
					loading="lazy"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.hovers%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.hovers</i></b>
			</p>
		</div>
	</div>
</section>
