<section id="menus" class="section--settings section--collapsible">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input id="menus" name="menus" type="checkbox" value="undefined" data-setting />
			<label for="menus">菜单与工具栏</label>
		</div>

		<p class="section__header-hint">为内置菜单和工具栏添加许多实用命令</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editor"
							name="menus.editor"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editor">添加到编辑器上下文菜单</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.compare"
								name="menus.editor.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.compare">添加 <i>提交更改</i> 子菜单</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.remote"
								name="menus.editor.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.remote">添加 <i>在远程打开 *</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.history"
								name="menus.editor.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.history"
								>添加 <i>打开文件历史</i> 和 <i>快速打开文件历史</i> 命令</label
							>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.blame"
								name="menus.editor.blame"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.blame">添加 <i>文件注解</i> 子菜单</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.clipboard"
								name="menus.editor.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.clipboard">添加到 <i>复制为</i> 子菜单</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editorTab"
							name="menus.editorTab"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editorTab">添加到编辑器标签页上下文菜单</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.clipboard"
								name="menus.editorTab.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.clipboard">添加 <i>复制远程文件 URL</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.compare"
								name="menus.editorTab.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.compare">添加 <i>提交更改</i> 子菜单</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.remote"
								name="menus.editorTab.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.remote">添加 <i>在远程打开文件 *</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.history"
								name="menus.editorTab.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.history"
								>添加 <i>打开文件历史</i> 和 <i>快速打开文件历史</i> 命令</label
							>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editorGroup"
							name="menus.editorGroup"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editorGroup">添加到编辑器组工具栏</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editorGroup">
						<div class="setting__input">
							<input
								id="menus.editorGroup.compare"
								name="menus.editorGroup.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGroup.compare">添加修订历史导航命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorGroup">
						<div class="setting__input">
							<input
								id="menus.editorGroup.blame"
								name="menus.editorGroup.blame"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGroup.blame">添加</label>
							<div class="select-container">
								<select
									id="fileAnnotations.command"
									name="fileAnnotations.command"
									data-setting
									data-enablement="menus.editorGroup.blame"
									disabled
								>
									<option value="null">文件注解子菜单</option>
									<option value="blame"><i>切换文件归属注释</i>命令</option>
									<option value="heatmap"><i>切换文件热力图</i>命令</option>
									<option value="changes"><i>切换文件更改</i>命令</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.explorer"
							name="menus.explorer"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.explorer">添加到资源管理器项目上下文菜单</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.compare"
								name="menus.explorer.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.compare">添加 <i>提交更改</i> 子菜单</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.remote"
								name="menus.explorer.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.remote">添加 <i>在远程打开文件 *</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.history"
								name="menus.explorer.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.history"
								>添加 <i>打开文件历史</i> 和 <i>快速打开文件历史</i> 命令</label
							>
						</div>
					</div>

					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.clipboard"
								name="menus.explorer.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.clipboard">添加 <i>复制远程文件 URL</i> 命令</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scm"
							name="menus.scm"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scm">添加到源代码管理上下文菜单</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scm">
						<div class="setting__input">
							<input
								id="menus.scm.authors"
								name="menus.scm.authors"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scm.authors">添加 <i>添加协作者</i> 命令</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmGroupInline"
							name="menus.scmGroupInline"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmGroupInline">添加到源代码管理分组工具栏</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmGroupInline">
						<div class="setting__input">
							<input
								id="menus.scmGroupInline.stash"
								name="menus.scmGroupInline.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroupInline.stash">添加 <i>储藏所有更改</i> 命令</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmGroup"
							name="menus.scmGroup"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmGroup">添加到源代码管理分组上下文菜单</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.stash"
								name="menus.scmGroup.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.stash">添加 <i>储藏所有更改</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.compare"
								name="menus.scmGroup.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.compare">添加 <i>打开更改</i> 子菜单</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.openClose"
								name="menus.scmGroup.openClose"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.openClose"
								>添加 <i>打开已更改文件</i> 和 <i>关闭未更改文件</i> 命令</label
							>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmItem"
							name="menus.scmItem"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmItem">添加到源代码管理项目上下文菜单</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.compare"
								name="menus.scmItem.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.compare">添加 <i>打开更改</i> 子菜单</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.remote"
								name="menus.scmItem.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.remote">添加 <i>在远程打开文件 *</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.history"
								name="menus.scmItem.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.history"
								>添加 <i>打开文件历史</i> 和 <i>快速打开文件历史</i> 命令</label
							>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.stash"
								name="menus.scmItem.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.stash">添加 <i>储藏更改</i> 命令</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.clipboard"
								name="menus.scmItem.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.clipboard">添加 <i>复制远程文件 URL</i> 命令</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.menus%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.menus</i></b>
			</p>
		</div>
	</div>
</section>
