<section id="contributors-view" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			贡献者视图
			<a
				class="link__learn-more"
				title="了解更多"
				href="https://github.com/gitkraken/vscode-gitlens/#contributors-view-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			添加一个
			<a
				class="command command--show-view"
				title="在侧边栏中显示视图"
				href="command:gitlens.showContributorsView"
				>贡献者视图</a
			，默认隐藏，用于可视化、导航和查看贡献者信息
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<input
								id="views.contributors.showAllBranches"
								name="views.contributors.showAllBranches"
								type="checkbox"
								data-setting
							/>
							<label for="views.contributors.showAllBranches">显示所有分支上的提交</label>
						</div>
					</div>

					<div class="section__group">
						<div class="section__content">
							<div class="settings settings--fixed">
								<div class="setting">
									<div class="setting__input">
										<input
											id="views.contributors.pullRequests.enabled"
											name="views.contributors.pullRequests.enabled"
											type="checkbox"
											data-setting
										/>
										<label for="views.contributors.pullRequests.enabled"
											>显示关联的拉取请求</label
										>
									</div>
									<p class="setting__hint">
										需要连接到受支持的远程服务（如 GitHub）
									</p>
								</div>

								<div class="settings settings--fixed ml-2">
									<div class="setting" data-enablement="views.contributors.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.contributors.pullRequests.showForCommits"
												name="views.contributors.pullRequests.showForCommits"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.contributors.pullRequests.showForCommits"
												>显示引入每次提交的拉取请求</label
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="sortContributorsBy">贡献者排序</label>
							<div class="select-container">
								<select id="sortContributorsBy" name="sortContributorsBy" data-setting>
									<option value="count:desc">按提交次数降序</option>
									<option value="count:asc">按提交次数升序</option>
									<option value="date:desc">按最近提交日期降序</option>
									<option value="date:asc">按最近提交日期升序</option>
									<option value="name:asc">按名称升序</option>
									<option value="name:desc">按名称降序</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.contributors.files.layout">文件布局</label>
							<div class="select-container">
								<select
									id="views.contributors.files.layout"
									name="views.contributors.files.layout"
									data-setting
								>
									<option value="auto">自动</option>
									<option value="list">列表</option>
									<option value="tree">树形</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.contributors.files.layout =auto">
							根据每一级嵌套中的文件数量自动选择最合适的布局
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.contributors.files.compact"
								name="views.contributors.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.contributors.files.compact">使用紧凑文件布局</label>
						</div>
						<p class="setting__hint">使用树形布局时压平不必要的嵌套层级</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.contributors.avatars"
								name="views.contributors.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.contributors.avatars">使用作者头像</label>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{webroot}/media/contributors-view.webp" loading="lazy" />
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.views.contributors%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.views.contributors</i></b> 或
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
