<section id="repositories-view" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			仓库视图
			<a
				class="link__learn-more"
				title="了解更多"
				href="https://github.com/gitkraken/vscode-gitlens/#repositories-view-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			添加一个
			<a
				class="command command--show-view"
				title="在侧边栏中显示视图"
				href="command:gitlens.showRepositoriesView"
				>仓库视图</a
			>，默认隐藏，用于可视化、浏览和管理 Git 仓库
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<label class="non-interactive">在每个仓库下显示以下分组</label>
						</div>
					</div>

					<div class="settings ml-2">
						<div class="setting">
							<div class="setting__input setting__input--inner-select">
								<input
									id="views.repositories.showBranchComparison"
									name="views.repositories.showBranchComparison"
									type="checkbox"
									value="working"
									data-setting
								/>
								<label for="views.repositories.showBranchComparison">将</label>
								<div class="select-container">
									<select
										id="views.repositories.showBranchComparison"
										name="views.repositories.showBranchComparison"
										data-setting
										data-enablement="views.repositories.showBranchComparison !false"
									>
										<option value="branch">当前分支</option>
										<option value="working">工作树</option>
									</select>
								</div>
								<label for="views.repositories.showBranchComparison"
									>与用户选择的引用（分支、标签等）进行比较
								</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showUpstreamStatus"
									name="views.repositories.showUpstreamStatus"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showUpstreamStatus">当前分支状态</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.includeWorkingTree"
									name="views.repositories.includeWorkingTree"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.includeWorkingTree">工作树文件变更</label>
							</div>
						</div>

						<div class="section__group">
							<div class="section__content">
								<div class="settings settings--fixed">
									<div class="setting">
										<div class="setting__input">
											<input
												id="views.repositories.pullRequests.enabled"
												name="views.repositories.pullRequests.enabled"
												type="checkbox"
												data-setting
											/>
											<label for="views.repositories.pullRequests.enabled"
												>关联的拉取请求</label
											>
										</div>
										<p class="setting__hint">
											需要连接到受支持的远程服务（如 GitHub）
										</p>
									</div>

									<div class="settings settings--fixed ml-2">
										<div class="setting" data-enablement="views.repositories.pullRequests.enabled">
											<div class="setting__input">
												<input
													id="views.repositories.pullRequests.showForBranches"
													name="views.repositories.pullRequests.showForBranches"
													type="checkbox"
													data-setting
													disabled
												/>
												<label for="views.repositories.pullRequests.showForBranches"
													>显示与每个分支关联的拉取请求</label
												>
											</div>
										</div>

										<div class="setting" data-enablement="views.repositories.pullRequests.enabled">
											<div class="setting__input">
												<input
													id="views.repositories.pullRequests.showForCommits"
													name="views.repositories.pullRequests.showForCommits"
													type="checkbox"
													data-setting
													disabled
												/>
												<label for="views.repositories.pullRequests.showForCommits"
													>显示引入每次提交的拉取请求</label
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showCommits"
									name="views.repositories.showCommits"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showCommits">提交</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showBranches"
									name="views.repositories.showBranches"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showBranches">分支</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showRemotes"
									name="views.repositories.showRemotes"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showRemotes">远程</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showStashes"
									name="views.repositories.showStashes"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showStashes">储藏</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showTags"
									name="views.repositories.showTags"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showTags">标签</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showContributors"
									name="views.repositories.showContributors"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showContributors">贡献者</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showIncomingActivity"
									name="views.repositories.showIncomingActivity"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showIncomingActivity"
									>传入活动（实验性）</label
								>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.autoRefresh"
								name="views.repositories.autoRefresh"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.autoRefresh"
								>当仓库或文件系统发生变化时自动刷新</label
							>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.autoReveal"
								name="views.repositories.autoReveal"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.autoReveal"
								>打开文件时自动显示所属仓库</label
							>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.avatars"
								name="views.repositories.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.avatars">使用作者头像</label>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.repositories.branches.layout">分支布局</label>
							<div class="select-container">
								<select
									id="views.repositories.branches.layout"
									name="views.repositories.branches.layout"
									data-setting
								>
									<option value="list">列表</option>
									<option value="tree">树形</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.repositories.files.layout">文件布局</label>
							<div class="select-container">
								<select
									id="views.repositories.files.layout"
									name="views.repositories.files.layout"
									data-setting
								>
									<option value="auto">自动</option>
									<option value="list">列表</option>
									<option value="tree">树形</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.repositories.files.layout =auto">
							根据每一级嵌套中的文件数量自动选择最合适的布局
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.files.compact"
								name="views.repositories.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.files.compact">使用紧凑文件布局</label>
						</div>
						<p class="setting__hint">使用树形布局时压平不必要的嵌套层级</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="sortBranchesBy">分支排序</label>
							<div class="select-container">
								<select id="sortBranchesBy" name="sortBranchesBy" data-setting>
									<option value="date:desc">按最近提交日期降序</option>
									<option value="date:asc">按最近提交日期升序</option>
									<option value="name:asc">按名称升序</option>
									<option value="name:desc">按名称降序</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="sortContributorsBy">贡献者排序</label>
							<div class="select-container">
								<select id="sortContributorsBy" name="sortContributorsBy" data-setting>
									<option value="count:desc">按提交次数降序</option>
									<option value="count:asc">按提交次数升序</option>
									<option value="date:desc">按最近提交日期降序</option>
									<option value="date:asc">按最近提交日期升序</option>
									<option value="name:asc">按名称升序</option>
									<option value="name:desc">按名称降序</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="sortTagsBy">标签排序</label>
							<div class="select-container">
								<select id="sortTagsBy" name="sortTagsBy" data-setting>
									<option value="date:desc">按最近提交日期降序</option>
									<option value="date:asc">按最近提交日期升序</option>
									<option value="name:asc">按名称升序</option>
									<option value="name:desc">按名称降序</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{webroot}/media/repositories-view.webp" loading="lazy" />
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.views.repositories%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.views.repositories</i></b> 或
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
