<section id="search-compare-view" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			搜索与比较视图
			<a
				class="link__learn-more"
				title="了解更多"
				href="https://github.com/gitkraken/vscode-gitlens/#search--compare-view-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			添加一个
			<a
				class="command command--show-view"
				title="在侧边栏中显示视图"
				href="command:gitlens.showSearchAndCompareView"
				>搜索与比较视图</a
			>
			用于按消息、作者、文件、ID 等搜索和探索提交历史，或可视化比较
			分支、标签、提交等内容
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="section__group">
						<div class="section__content">
							<div class="settings settings--fixed">
								<div class="setting">
									<div class="setting__input">
										<input
											id="views.searchAndCompare.pullRequests.enabled"
											name="views.searchAndCompare.pullRequests.enabled"
											type="checkbox"
											data-setting
										/>
										<label for="views.searchAndCompare.pullRequests.enabled"
											>显示关联的拉取请求</label
										>
									</div>
									<p class="setting__hint">
										需要连接到受支持的远程服务（如 GitHub）
									</p>
								</div>

								<div class="settings settings--fixed ml-2">
									<div class="setting" data-enablement="views.searchAndCompare.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.searchAndCompare.pullRequests.showForCommits"
												name="views.searchAndCompare.pullRequests.showForCommits"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.searchAndCompare.pullRequests.showForCommits"
												>显示引入每次提交的拉取请求</label
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.searchAndCompare.files.layout">文件布局</label>
							<div class="select-container">
								<select
									id="views.searchAndCompare.files.layout"
									name="views.searchAndCompare.files.layout"
									data-setting
								>
									<option value="auto">自动</option>
									<option value="list">列表</option>
									<option value="tree">树形</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.searchAndCompare.files.compact"
								name="views.searchAndCompare.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.searchAndCompare.files.compact">使用紧凑文件布局</label>
						</div>
						<p class="setting__hint">使用树形布局时压平不必要的嵌套层级</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.searchAndCompare.avatars"
								name="views.searchAndCompare.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.searchAndCompare.avatars">使用作者头像</label>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{webroot}/media/search-and-compare-view.webp" loading="lazy" />
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.views.searchAndCompare%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.views.searchAndCompare</i></b> 或<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
