<section id="views" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			视图
			<a
				class="link__learn-more"
				title="了解更多"
				href="https://github.com/gitkraken/vscode-gitlens/#side-bar-views-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">添加丰富视图，用于可视化、导航和探索仓库历史</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<p class="blurb mt-0">GitLens 视图可配置为不同的侧边栏布局，以更好地匹配你的工作方式。</p>
				<div class="presets mb-1">
					<div class="preset">
						<a
							class="button button--flat"
							title="在源代码管理侧边栏中集中显示所有视图"
							href="command:gitlens.setViewsLayout?%7B%22layout%22%3A%22scm%22%7D"
							>源代码管理布局（默认）</a
						>
						<p>在源代码管理侧边栏中集中显示所有视图</p>
					</div>
					<div class="preset">
						<a
							class="button button--flat"
							title="在 GitLens 侧边栏中集中显示所有视图"
							href="command:gitlens.setViewsLayout?%7B%22layout%22%3A%22gitlens%22%7D"
							>GitLens 布局</a
						>
						<p>在 GitLens 侧边栏中集中显示所有视图</p>
					</div>
				</div>

				<p class="section__hint"><i class="icon icon__info"></i> 你也可以直接拖放单个视图，创建自定义布局</p>
			</div>
		</div>
	</div>
</section>
