<section id="commits-view" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			提交视图
			<a
				class="link__learn-more"
				title="了解更多"
				href="https://github.com/gitkraken/vscode-gitlens/#commits-view-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			添加一个
			<a class="command command--show-view" title="在侧边栏中显示视图" href="command:gitlens.showCommitsView"
				>提交视图</a
			>
			用于可视化、浏览和管理 Git 提交
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input setting__input--inner-select">
							<input
								id="views.commits.showBranchComparison"
								name="views.commits.showBranchComparison"
								type="checkbox"
								value="working"
								data-setting
							/>
							<label for="views.commits.showBranchComparison">显示</label>
							<div class="select-container">
								<select
									id="views.commits.showBranchComparison"
									name="views.commits.showBranchComparison"
									data-setting
									data-enablement="views.commits.showBranchComparison !false"
								>
									<option value="branch">当前分支</option>
									<option value="working">工作树</option>
								</select>
							</div>
							<label for="views.commits.showBranchComparison"
								>与用户选择的引用（分支、标签等）进行比较
							</label>
						</div>
					</div>

					<div class="section__group">
						<div class="section__content">
							<div class="settings settings--fixed">
								<div class="setting">
									<div class="setting__input">
										<input
											id="views.commits.pullRequests.enabled"
											name="views.commits.pullRequests.enabled"
											type="checkbox"
											data-setting
										/>
										<label for="views.commits.pullRequests.enabled"
											>显示关联的拉取请求</label
										>
									</div>
									<p class="setting__hint">
										需要连接到受支持的远程服务（如 GitHub）
									</p>
								</div>

								<div class="settings settings--fixed ml-2">
									<div class="setting" data-enablement="views.commits.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.commits.pullRequests.showForBranches"
												name="views.commits.pullRequests.showForBranches"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.commits.pullRequests.showForBranches"
												>显示与当前分支关联的拉取请求</label
											>
										</div>
									</div>

									<div class="setting" data-enablement="views.commits.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.commits.pullRequests.showForCommits"
												name="views.commits.pullRequests.showForCommits"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.commits.pullRequests.showForCommits"
												>显示引入每次提交的拉取请求</label
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.commits.files.layout">文件布局</label>
							<div class="select-container">
								<select id="views.commits.files.layout" name="views.commits.files.layout" data-setting>
									<option value="auto">自动</option>
									<option value="list">列表</option>
									<option value="tree">树形</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.commits.files.layout =auto">
							根据每一级嵌套中的文件数量自动选择最合适的布局
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.commits.files.compact"
								name="views.commits.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.commits.files.compact">使用紧凑文件布局</label>
						</div>
						<p class="setting__hint">使用树形布局时压平不必要的嵌套层级</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.commits.avatars"
								name="views.commits.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.commits.avatars">使用作者头像</label>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input setting__input--format">
							<label for="views.formats.commits.label">提交标签格式</label>
							<input
								id="views.formats.commits.label"
								name="views.formats.commits.label"
								type="text"
								placeholder="${❰ tips ❱➤  }${message}"
								data-setting
								data-setting-preview
								data-default-value="${❰ tips ❱➤  }${message}"
								data-popup-trigger
							/>
							<label for="views.formats.commits.label" title="查看可用标记">
								<i class="icon icon__chevron-down"></i>
							</label>
						</div>
						<div id="views.formats.commits.label.popup" class="popup hidden"></div>
						<span class="setting__hint"
							>示例：
							<span
								data-setting-preview="views.formats.commits.label"
								data-setting-preview-type="commit"
								data-setting-preview-default="${❰ tips ❱➤  }${message}"
							></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input setting__input--format">
							<label for="views.formats.commits.description">提交说明格式</label>
							<input
								id="views.formats.commits.description"
								name="views.formats.commits.description"
								type="text"
								placeholder="${author, }${agoOrDate}"
								data-setting
								data-setting-preview
								data-default-value="${author, }${agoOrDate}"
								data-popup-trigger
							/>
							<label for="views.formats.commits.description" title="查看可用标记">
								<i class="icon icon__chevron-down"></i>
							</label>
						</div>
						<div id="views.formats.commits.description.popup" class="popup hidden"></div>
						<span class="setting__hint"
							>示例：
							<span
								data-setting-preview="views.formats.commits.description"
								data-setting-preview-type="commit"
								data-setting-preview-default="${author, }${agoOrDate}"
							></span>
						</span>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-compare+pr+commit-pr.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-compare+pr.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-compare+commit-pr.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-compare.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-compare.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-pr+commit-pr.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-pr.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto-commit-pr.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-auto.webp"
					data-visibility="views.commits.files.layout !tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits =false"
					loading="lazy"
				/>

				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-compare+pr+commit-pr.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-compare+pr.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits = false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-compare+commit-pr.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-compare.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-compare.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison !false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits =false "
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-pr+commit-pr.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-pr.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches &amp; views.commits.pullRequests.showForCommits =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree-commit-pr.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled =false"
					loading="lazy"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/commits-view-tree.webp"
					data-visibility="views.commits.files.layout =tree &amp; views.commits.showBranchComparison =false &amp; views.commits.pullRequests.enabled &amp; views.commits.pullRequests.showForBranches =false &amp; views.commits.pullRequests.showForCommits =false"
					loading="lazy"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> 如需更多选项，打开
				<a
					class="command"
					title="打开设置"
					href="command:workbench.action.openSettings?%22gitlens.views.commits%22"
					>设置</a
				>
				并搜索 <b><i>gitlens.views.commits</i></b> 或
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
